body {
    margin: 0;
    border: 0;

    width: 100%;

    background-image: linear-gradient(to bottom red, blue);   
}

.card_main {
    margin: 0px;

    padding-top: 110px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.card_main input {
  margin-bottom: 90px;
}

.card_main button {
  margin-top: 30px;
}

.organiza {
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 400px;

    border: 2px solid blue;

    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 300px;
    padding-right: 300px;

    display: flex;
    flex-direction: row;
    margin: 300px; 

    justify-content: center;
    text-align: center;
}

.organiza1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.organiza2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.organiza3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personagem {
    text-align: center;
}